body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #779607;
}

header h2 {
    color: #eeffc8;
}

.site-footer {
    background-image: linear-gradient(#e3ffc8, rgb(255, 255, 255));
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #576b10, #98c530, #98e465 );
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color:#47531a;
}

.fa {
    margin: 5px;
}